#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
    margin: 30px;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
    margin: 30px;
}
body{
    background-color: aqua;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
div{
    margin: 20px;
}
label{
    margin-right: 50px;
    margin: 30px;
}

  /* Create four equal columns that sits next to each other */
  .column {
    flex: 30%;
    max-width: 27%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  #footer{
      background-color: darkgray;
      color: black;
      padding: 10px;
      width: 97%;
      bottom: -20px;
      left: -40px;
  }
  hr{
    background-color: rgb(254, 62, 62);
    border: 2px solid rgb(254, 62, 62);
  }
  #title{
    background-color: lightskyblue;
    height: 10pc;
    width: 100%;
  }